.Responsive div.Feedback_Message_Wrapper {
    margin-top: 35px;
}

.LoginForm
{
    background-color: #f8f8f8;
    border: solid 1px #DADADA;
    border-radius: 8px;
}

.LoginTitle
{
    font-weight:bold;
    font-size: 15px;
}