<?xml version="1.0"?>
<configuration>
  <system.xml.serialization>
    <dateTimeSerialization mode="Local"/>
  </system.xml.serialization>
  <appSettings>
    <add key="Installation.InstanceName" value="DEFAULT"/>
    <add key="OutSystems.HubEdition.UnifiedEspaceKey" value="65106059-0439-4be5-b011-2f01fba4afa6"/>
  </appSettings>
  <runtime/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" originUrl=""/>
    <compilation defaultLanguage="c#" debug="true" batch="false" optimizeCompilations="true" targetFramework="4.5.2"/>
    <customErrors mode="RemoteOnly" defaultRedirect="/customHandlers/internalerror.aspx?">
      <error statusCode="404" redirect="/customHandlers/notfound.aspx?"/>
    </customErrors>
    <authentication mode="None"/>
    <identity impersonate="false"/>
    <sessionState cookieless="false" regenerateExpiredSessionId="true" mode="Custom" customProvider="OutSystemsSessionProvider">
      <providers>
        <add name="OutSystemsSessionProvider" type="OutSystems.HubEdition.RuntimePlatform.SessionState.SqlSessionStateStore"/>
      </providers>
    </sessionState>
    <httpRuntime useFullyQualifiedRedirectUrl="true" targetFramework="4.5.1" requestValidationMode="2.0"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages enableSessionState="true" validateRequest="false" enableEventValidation="false"/>
    <httpModules>
      <add type="OutSystems.HubEdition.RuntimePlatform.UnhandledExceptionModule, OutSystems.HubEdition.RuntimePlatform" name="UnhandledExceptionModule"/>
    </httpModules>
    <xhtmlConformance mode="Transitional"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders/>
    </httpProtocol>
    <modules>
      <add name="UnhandledExceptionModule" type="OutSystems.HubEdition.RuntimePlatform.UnhandledExceptionModule, OutSystems.HubEdition.RuntimePlatform" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>