
/* ButtonGroup **************************/
.ButtonGroup {
    outline: 1px solid transparent;
    -webkit-transition: outline-color .3s ease-out;
       -moz-transition: outline-color .3s ease-out;
         -o-transition: outline-color .3s ease-out;
            transition: outline-color .3s ease-out;
    width: 100%;
}

.ie7 .ButtonGroup,
.ie8 .ButtonGroup {
    border-right: 1px solid #dcdcdc;
}

.ButtonGroup_button.Button {
    background-color: #fff;
    border-color: #dcdcdc;
    border-radius: 0;
    border-right-width: 0;
    margin: 0;
    margin-right: 0;
    background-color: #fff;
    border-color: #dcdcdc;
    /* color: black; */
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    /* border-left: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* border-right: 1px solid #ccc; */
    border-top: 1px solid #ccc;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .1);
    color: #48687c;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.ButtonGroup_button * {
    color: #2a2a2a;
}

.ButtonGroup_button_active {
    background: rgba(238,238,238,1) !important;
    background:    -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(224,224,224,1))) !important;
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%) !important;
    background:      -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%) !important;
    background:     -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%) !important;
    background:         linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(224,224,224,1) 100%) !important;;
    border-color: #ccc !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1) !important;
}

.ButtonGroup_button.Button:last-child {
    border-right-width: 1px;
}

.ButtonGroup_button input[type=radio] {
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    z-index: -1;



}

.ButtonGroup_button.Button.disabled,
.ButtonGroup_button.Button.disabled:hover {
    background-color: #f5f5f5;
    color: #999;
    cursor: default;
}

.Form:not(.form-top) .ButtonGroup_button {
    padding-top: 0;
}

/* Remove Margin When use ButtonGroup on Filters_Wrapper */
.Filters_Wrapper .ButtonGroup_button.Button {
    margin-left: 0;
}

/* Responsive Context **************************/
.phone .ButtonGroup_button.Button,
.phone .ButtonGroup_button a.Button{
    border-right-width: 1px;
    box-shadow: none;
}

.phone .ButtonGroup_button.Button{
    border-bottom-width: 0;
    border-right-width: 1px;
    width: 100%;
}

.phone .ButtonGroup_button.Button:last-child{
    border-bottom-width: 1px;
    width: 100%;
}