.StudenLogDetail
{
    display:inline-block;
    width:600px;
    height:70px;
    margin-top:15px;
    border: 1px solid #E8E8E8;

}

.TitleLog
{
    font-size:17px;
    padding: 15px;
    border-top: solid 1px #dadada;
}
.LearnerLog {
    border: 0px;
    line-height: 10px;
    font-size: 14px;
    border-bottom:solid 1px #b1b1b1;
    padding-left: 15px;

}

.ContentDetailWrapperTarget{
    background-color:white;
    box-shadow: 0px 0px 12px #b1b1b1;
    border: solid 1px #B1B1B1;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.ContentDetailWrapperTarget .LineTargetWrapper
{
    font-size: 13px;
    padding-left: 14px;
    padding-right: 13px;
}

.TextSmallLine
{
    font-size: 12px;
    color:#C2C2C2;
}

.TextCreatedBy_small {
    font-size: 11px !important;
}


.RagRed{
background-color: #D0021B;
color: white;
}

.RagGreen{
background-color: #84AA19;
color: white;
}

.RagAmber{
background-color: #F5A623;
color: white;
}

.ChartBox{
    padding:20px; 
    border: solid 1px #dadada; 
    background-color:white;
}

.DivPaddingRight{
    padding:15px 5px 15px 15px; 
}

.DivPaddingLeft{
    padding:15px 15px 15px 5px; 
}
